.container {
  border-radius: inherit;
  max-inline-size: 450px;
}

.img {
  display: block;
  border-start-start-radius: inherit;
  border-start-end-radius: inherit;
  object-fit: cover;
  inline-size: 100%;
}

.info {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.title {
  margin-block-end: 10px;
  font-size: 27px;
}

.volume {
  margin-block-end: 20px;
}

.cost {
  font-size: 25px;
}

.description {
  margin-block-end: 10px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  appearance: none;
}

.button {
  border: none;
  border-radius: 10px;
  color: inherit;
  font-size: 30px;
  background-color: var(--button-color, #f28123);
  cursor: pointer;
  appearance: none;
  min-inline-size: 100px;
  min-block-size: 40px;
}
