.container {
  display: flex;
  flex-direction: column;
  border-radius: inherit;
}

.img {
  margin-block-end: 20px;
  border-radius: 10px;
  object-fit: cover;
  inline-size: 100%;
  block-size: 200px;
}

.title {
  margin-block-end: 10px;
  font-size: 27px;
}

.volume {
  margin-block-end: 20px;
}

.cost {
  font-size: 25px;
}

.description {
  margin-block-end: 10px;
  max-inline-size: 350px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  appearance: none;
}

.button {
  border: none;
  border-radius: 10px;
  color: inherit;
  font-size: 30px;
  background-color: var(--button-color, #f28123);
  cursor: pointer;
  appearance: none;
  min-inline-size: 100px;
  min-block-size: 40px;
}
