.container {
  border: none;
  border-radius: 10px;
  padding: 12px 20px;
  color: inherit;
  font-family: inherit;
  font-size: 20px;
  text-transform: capitalize;
  background-color: #f80;
  background-color: #F28123;
  cursor: pointer;
  appearance: none;
}
