.container {
  min-inline-size: 450px;
}

.header {
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.1fr;
  grid-template-areas: 'button title .';
  justify-content: center;
  align-items: center;
  margin-block-end: 20px;
}

.header__title {
  font-size: 24px;
  grid-area: title;
  text-align: center;
}


.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 20px;
}

.button {
  border-radius: 7px;
  font-size: 20px;
}

.button_disabled {
  background-color: var(--button-disabled-color, rgba(112, 112, 112));
}
