.container {
  // padding-inline: 340px;
  // display: flex;
  // justify-content: center;
  margin-block-start: 85px;
}

.list {
  display: grid;
  grid-template-columns: min-content min-content min-content;
  justify-content: center;
  gap: 40px;
}
