.container {
  margin-block-end: 15px;
}

.button__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 22px;
  margin-block-end: 10px;
}


.button {
  font-size: 27px;
  cursor: pointer;
}

.button_active {
  background-color: #fff;
  color: #000;
}

.button:hover {
  background-color: var(--button-background-color, transparent);
}
