.container {
  margin-block-end: 15px;
}

.button__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin-block-end: 10px;
  font-size: 22px;
}

.button {
  font-size: 27px;
}

.container .button:hover {
  background-color: rgba(255 255 255 / 0.6);
}

.container .button_active,
.container .button_active:hover {
  color: #000;
  background-color: #fff;
}

.button:hover {
  background-color: var(--button-background-color, transparent);
}
