.container {
  min-block-size: 100dvh;
  background: center / cover no-repeat
    url("../../images/tools-used-process-coffee-making.jpg");
  display: flex;
  flex-direction: column;
}

.info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-inline-size: 900px;
  padding-inline: 100px;
}

.title {
  font-size: 70px;
  text-transform: capitalize;
  color: #fff;
  margin-block-end: 30px;
}

.text {
  font-size: 24px;
  line-height: 195%;
  color: #fff;
}

.logo {
  grid-area: logo;
}
