:root {
  --main-font-family: "Montserrat-Regular";
  --main-background-color: #2f2f2f;
  --main-text-color: #fff;
  --button-background-color: transparent;
  --button-text-color: #fff;
  --button-disabled-color: rgba(112, 112, 112);
}
