.container {
  border-radius: 10px;
  background-color: #000000;
  cursor: pointer;
  min-inline-size: 300px;
  transition: scale 0.1s ease-in-out;
}

.container:hover {
  scale: 1.05;
}

.img {
  border-start-start-radius: inherit;
  border-start-end-radius: inherit;
  object-fit: cover;
  inline-size: 100%;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.title {
  font-size: 25px;
}

.cost {
  font-size: 20px;
}
