.container {
  column-gap: 20px;
  border-radius: 17px;
  padding: 12px;
  background: linear-gradient(#121212, #080808);
  display: grid;
  grid-template-columns: 1fr 1fr min-content;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
  'img title .'
  'img volume .'
  'img cost button';
  align-items: center;
}

.img {
  object-fit: cover;
  block-size: 170px;
  border-radius: inherit;
  grid-area: img
}

.title {
  font-size: 25px;
  grid-area: title;
}

.cost {
  font-size: 18px;
  grid-area: cost;
}

.volume {
  font-size: 18px;
  grid-area: volume;
}

.button {
  align-self: center;
  border: none;
  border-radius: 10px;
  color: inherit;
  font-size: 30px;
  background-color: #f28123;
  appearance: none;
  inline-size: 42px;
  block-size: 42px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  grid-area: button;
}
