.container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  gap: 20px;
  border-radius: 10px;
  padding: 20px;
  background-color: #2f2f2f;
  cursor: pointer;
}

.img {
  object-fit: cover;
  block-size: 190px;
}

.title {
  font-size: 25px;
}

.cost {
  font-size: 18px;
}

.volume {
  font-size: 18px;
}

.button {
  align-self: center;
  border: none;
  border-radius: 100%;
  color: inherit;
  font-family: inherit;
  font-size: 45px;
  background-color: #f28123;
  appearance: none;
  inline-size: 55px;
  block-size: 55px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
