.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: ". navigation button";
  padding: 40px 30px;
  padding-block: 40px;
  background-color: rgba(0 0 0 / 0.4);
}

.basket {
  grid-area: button;
  justify-self: end;
  align-self: center;
}

.count__container {
  position: absolute;
  background-color: var(--button-color, #f28123);
  inset-inline-start: calc(100% - 10px);
  inset-block-start: calc(100% - 12px);
  inline-size: 18px;
  block-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  cursor: default;
}

.count__span {
  font-size: 13px;
}
