.container {
  position: relative;
}

.slider {
  margin-inline: auto;
  padding-block: 20px;
  overflow: hidden;
}

.slider__container {
  position: relative;
  margin-inline: auto;
  border-radius: 15px;
  background-color: rgba(0 0 0 / 0.2);
}

.list {
  display: flex;
  padding-inline: 20px;
}

.item {
  transition: translate 0.35s ease-in-out;
  translate: 0 70%;
}

.item_active {
  translate: 0;
}

.button {
  position: absolute;
  border: none;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  inset-block-start: calc(50% - 30px);
  inline-size: 60px;
  block-size: 60px;
  appearance: none;
}

.button_left {
  inset-inline-start: 0;
}

.button_right {
  inset-inline-end: 0px;
}
