.container {
  position: relative;
  margin-inline: auto;
  inline-size: 1231px;
  background-color: rgba(0 0 0 / 0.2);
  border-radius: 15px;
  padding: 35px 85px 0;
}

.slider {
  position: relative;
  overflow: hidden;
}

.list {
  display: flex;
  gap: 20px;
}

.item {
  translate: 0 50%;
  transition: translate 0.35s ease-in-out;
}

.item_active {
  translate: 0;
}

.button {
  position: absolute;
  border: none;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  inset-block-start: calc(50% - 30px);
  inline-size: 60px;
  block-size: 60px;
  appearance: none;
}

.button_left {
  inset-inline-start: 0;
}

.button_right {
  inset-inline-end: 0px;
}
