.container {
  min-inline-size: 500px;
}

.list {
  block-size: 520px;
  overflow: auto;
}

.list::-webkit-scrollbar {
  width: 4px;
}

.list::-webkit-scrollbar-track {
  background: transparent;
}

.list::-webkit-scrollbar-thumb {
  background-color: #fff;
}

.button {
  appearance: none;
  background-color: var(--button-color, #f28123);
  color: inherit;
  border: none;
  border-radius: 7px;
  padding: 8px 12px;
  font-size: 25px;
  cursor: pointer;
  display: block;
}

.button_disabled {
  background-color: var(--button-disabled-color, rgba(112, 112, 112));
}


.totalPrice {
  font-size: 22px;
  margin-block: 15px;
}
